{% extends "layout.html" %}

{% block main %}
<br><br><br><br><br>    
<table align="center">
    <tr>
        <form action="/ativar" method="post">
            <input type="hidden" value="1" name="bimestre">
            {% if bimestre1 == False %}
                <td><input type="submit" class="btn btn-outline-dark" value="Bimester 1">&nbsp;&nbsp;</td>
            {% else %}
                <td><input type="submit" class="btn btn-outline-dark" value="Bimester 1" disabled>&nbsp;&nbsp;</td>
            {% endif %}
        </form>
        <form action="/ativar" method="post">
            <input type="hidden" value="2" name="bimestre">
            {% if bimestre2 == False %}
                <td><input type="submit" class="btn btn-outline-dark" value="Bimester 2"></td>
            {% else %}
                <td><input type="submit" class="btn btn-outline-dark" value="Bimester 2" disabled></td>
            {% endif %}
        </form>
    </tr>
    <tr>
        <td><br></td>
    </tr>
    <tr>
        <form action="/ativar" method="post">
            <input type="hidden" value="3" name="bimestre">
            {% if bimestre3 == False %}
                <td><input type="submit" class="btn btn-outline-dark" value="Bimester 3">&nbsp;&nbsp;</td>
            {% else %}
                <td><input type="submit" class="btn btn-outline-dark" value="Bimester 3" disabled>&nbsp;&nbsp;</td>
            {% endif %}
        </form>
        <form action="/ativar" method="post">
            <input type="hidden" value="4" name="bimestre">
            {% if bimestre4 == False %}
                <td><input type="submit" class="btn btn-outline-dark" value="Bimester 4"></td>
            {% else %}
                <td><input type="submit" class="btn btn-outline-dark" value="Bimester 4" disabled></td>
            {% endif %}
        </form>
    </tr>
</table>
{% endblock %}