{% extends "layout.html" %}

{% block main %}
    <br><br><br><br>
    <table align="center" width="40%">
      <tr>
        <td>
            <table class="table border" align="center">
              <thead class="thead-light">
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Morning</th>
                  <th scope="col"></th>
                  <th scope="col">Afternoon</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1ª</th>
                  <td>7:00am to 7:50am</td>
                  <th scope="row">1ª</th>
                  <td>1:15pm to 2:05pm</td>
                </tr>
                <tr>
                  <th scope="row">2ª</th>
                  <td>7:50am to 8:40am</td>
                  <th scope="row">2ª</th>
                  <td>2:05pm to 2:55pm</td>
                </tr>
                <tr>
                  <th scope="row">3ª</th>
                  <td>8:40am to 9:30am</td>
                  <th scope="row">3ª</th>
                  <td>2:55pm to 3:45pm</td>
                </tr>
                <tr>
                  <th scope="row">Break</th>
                  <td>9:30am to 9:45am</td>
                  <th scope="row">Break</th>
                  <td>3:45pm to 4:00pm</td>
                </tr>
                <tr>
                  <th scope="row">4ª</th>
                  <td>9:45am to 10:35am</td>
                  <th scope="row">4ª</th>
                  <td>4:00pm to 4:50pm</td>
                </tr>
                <tr>
                  <th scope="row">5ª</th>
                  <td>10:35am to 11:25am</td>
                  <th scope="row">5ª</th>
                  <td>4:50pm to 5:40pm</td>
                </tr>
                <tr>
                  <th scope="row">6ª</th>
                  <td>11:25am to 12:15am</td>
                  <th scope="row">6ª</th>
                  <td>-------------</td>
                </tr>
              </tbody>
        </table>
      </td>
    </tr>
  </table>
{% endblock %}