{% extends "layout.html" %}

{% block main %}
    <br>
    <table style="text-align: center">
        <tr>
            <td width="2%">

            </td>
            <td>
                <img src="/static/images/index/30anos_cemep.png" alt="Reabra a sua página, algo ocorreu de errado" height="70%" width="90%"> <!-- 350 550 -->
            </td>
            <td width="25%">
            </td>
            <td>
                <p style = "font-family:Brush Script MT,arial,helvetica; font-size: 400%;">High school admission test 2021</p>
                <p style="font-family: arial,helvetica; font-size: 130%; text-align: left;">
                  Course offered: Technical school in informatic<br>
                  Period: Integral (morning and afternoon classes)<br>
                  Duration: 3 years<br>
                  Places: 80 + 3 for people with disabilities<br>
                </p>
            </td>
        </tr>
    </table>
    <br><br>
    <table>
        <tr>
            <td width="2%"></td>
            <td>
                <p style = "font-family:Courier New,arial,helvetica; font-size: 250%;">CEMEP Bulletin / Coronavirus Pandemic</p>
                <p style="font-family: arial,helvetica; font-size: 130%; text-align: left;">
                  Because of the lockdown, the school keep closed, but<br>
                  with online classes and exercises for all the students from all<br> 
                  the teachers.<br>
                  To get int tucht:<br>
                  <ul style="font-family: arial,helvetica; font-size: 130%; text-align: left;">
                      <li>Pedagogical subjects / internships / other: coordenacao@cemep.net.br</li>
                      <li>Documents with the school office: sec.cemep@gmail.com</li>
                  </ul>
                </p>
            </td>
        </tr>
    </table>
{% endblock %}