{% extends "layout.html" %}

{% block main %}
    <br><br><br><br><br>
    <table align="center">
        <tr>
            <td><a href="/register"><button type="button" class="btn btn-outline-dark">Register student</button></a></td>
            <td></td>
            <td><a href="/register2"><button type="button" class="btn btn-outline-dark">Register teacher</button></a></td>
        </tr>
        <tr><td><br></td></tr>
        <tr>
            <td colspan="3"><center><a href="/ativar_bimestre"><button type="button" class="btn btn-outline-dark">Activate bimester</button></a></center></td>
        </tr>
    </table>
{% endblock %}