{% extends "layout.html" %}

{% block main %}
        <br><br><br>
        <table>
            <tr>
                <td width="5%"></td>
                <td>
                    <p style = "font-family:Courier New,arial,helvetica; font-size: 200%;">High school admission test 2021</p>
                    <p style="font-family: arial,helvetica; font-size: 100%; text-align: left;">
                      Course offered: Technical school in informatic<br>
                      Period: Integral (morning and afternoon classes)<br>
                      Duration: 3 years<br>
                      Places: 80 + 3 for people with disabilities<br>
                    </p>
                </td>
                <td width="30%"></td>
                <td>
                    <p style = "font-family:Courier New,arial,helvetica; font-size: 200%;">Application requirements</p>
                    <p style="font-family: arial,helvetica; font-size: 100%; text-align: left;">
                        <ul>
                            <li>The candidate must be attending the freshman year during 2020<br></li>
                            <li>Candidates won't be able to do the application if they<br>
                                had finished freshman year before 2020</li>
                        </ul>
                    </p>
                </td>
            </tr>
            <tr><td><br><br><br><br></td></tr>
            <tr>
                <td width="5%"></td>
                <td>
                    <p style = "font-family:Courier New,arial,helvetica; font-size: 200%;">How to get in</p>
                    <p style="font-family: arial,helvetica; font-size: 100%; text-align: left;">
                    <ul>
                        <li>This year in-person tests will not be applied, becuase of the pandemic</li>
                        <li>The criterion adopted will be the analysis of the 2019 School History</li>
                    </ul>
                    </p>
                </td>
                <td width="30%"></td>
                <td>
                    <p style = "font-family:Courier New,arial,helvetica; font-size: 200%;">Application</p>
                    <p style="font-family: arial,helvetica; font-size: 100%; text-align: left;">
                    <ul>
                        <li>The period runs until 10/31/2020</li>
                        <li>Where to register: <a href="www.paulinia.sp.gov.br">www.paulinia.sp.gov.br</a></li>
                    </ul>
                    </p>
                </td>
                </tr>
                <tr><td><br><br><br><br></td></tr>
                <tr>
                    <td width="5%"></td>
                    <td>
                        <p style = "font-family:Courier New,arial,helvetica; font-size: 200%;">Criteria for 1st call</p>
                        <p style="font-family: arial,helvetica; font-size: 100%; text-align: left;">
                        <ul>
                            <li>40% (forty percent) of the vacancies are destined to candidates coming from<br>           
                            the public network residing in Paulínia</li>
                            <li>10% (ten percent) of the vacancies are destined to candidates from the<br>
                            public network residents of other municipalities</li>
                            <li>40% (forty percent) of the vacancies are destined to candidates coming from<br>
                            private network resident in Paulínia</li>
                            <li>10% (ten percent) of the vacancies are destined to candidates from thea<br>
                            private network residents of other municipalities</li>
                        </ul>
                        </p>
                    </td>
                    <td width="30%"></td>
                    <td>
                        <p style = "font-family:Courier New,arial,helvetica; font-size: 200%;">Criteria for 2st call</p>
                        <p style="font-family: arial,helvetica; font-size: 100%; text-align: left;">
                        <ul>
                            <p>
                                From the second call the calls will obey the GENERAL CLASSIFICATION<br>                  
                                regardless of whether the candidates come from public schools or<br>                         
                                private, resident or not in Paulínia.
                                <br><br><br><br><br><br><br><br>
                            </p>
                        </ul>
                        </p>
                    </td>
            </tr>
        </table>
{% endblock %}